nav{
    background-color:rgba(255, 235, 205, 0.623);
    width:100%;
    float:left;
    margin:0% 0% 5% 0%;
    border-radius: 3%;
    position: sticky;
    top: 0;    
    text-align: center;
    z-index: 9;
}


ul{
    float:left;
    padding: 0%;
    width:70%;
    margin-left: 28%;
}

li {
    list-style-type: none;
    font-size: 110%;
    float:left;
    margin:0% 0% 0% 5%;
    text-align: center;
}







iframe{
    position:relative;

    top: 1%;
    height:98%;

    width:98%;
    left: 1%;
}


.frame{
    border: 1px solid black;
    float: left;
    margin:5% 5% 8% 5%;
    overflow: auto;
    max-width:100%;
    max-height:100%;
}

img{
    float: left;
    margin-right:4%;
    max-width: 700px;
    max-height: 800px;
    height:100%;
}

div p{
    margin:3%;
}


a{
    color:rgb(231, 19, 19);
    text-decoration: none;
    z-index:10;
}

a:hover{
    color:brown;
}





.grid_top_content{
    color: white;
    text-align:center;
    text-shadow:3px 3px 5px black;
    font-size: 50px;
  }
.grid_top{
    background-color: rgb(64, 155, 230);
    border: 1px solid;
    border-radius: 5px;
  }

  