
/* 상단 바 */

ul {
    padding:0% 1% 0% 1%;
}

li{
    display: inline-block;
    padding: 0.5% 4% 0.5% 4%; /*위 오른쪽 아래 왼쪽*/
    text-align: center;
    font-size: 115%;
    border-radius: 100%;
}


nav{
    width: 50%;
    background-color: aqua;
    color: black;
    text-align: center;
    margin: 3% 0% 3% 25%;

    border-radius: 15px;
    border: 2px solid;
    border-color: rgb(39, 39, 171);

    /* padding: 1%; */
}


/*상단 바 양 옆 이미지*/
.sideimg{
  float:left; 
  width:20%; 
  height:100%;
  margin-left:2%; 
}



/* 드랍다운 */

.dropdown{
    position: relative;
    display: inline-block;
}

.dropdown-content{
    border-radius: 7%;
    display: none;
    position: absolute;
    left:1%;
    background-color: #c2bdbd;
    min-width: 120px;
    width:100%;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 11px 15px;
    z-index: 1;
}

.dropdown:hover .dropdown-content{
    display:block;
    background-color:#f9f9f9;
}

.dropdown:hover{
  background-color:#72b2e0;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content a {
    color: black;
    padding: 10px 14px;
    text-decoration: none;
    display: block; 
    text-align: left;
  }










/* 이미지 갤러리 */

  div.gallery {
    margin: 40px 1% 10% 3%; /*위, 오른쪽, 아래, 왼쪽 순*/
    float: left;
    width: 20%;
    height: 50%;
  }

  
  div.gallery > img:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: 400px;
    border: 1px solid #ccc;
  }
  
  div.desc {
    padding: 12px;
    text-align: center;
    border: 1px dotted black;
    border-style:none;
  }



  /*그리드*/

  .grid_top_content{
    color: white;
    text-align:center;
    text-shadow:3px 3px 5px black;
    font-size:30px;
  }
  .grid_top{
    background-color: rgb(64, 155, 230);
    border: 1px solid;
    border-radius: 5px;
  }





  .grid_item1 {
    background-color: #70b3ebfb;
 
    width: 100%;
    border: 1px solid;
    border-radius: 5px;
    border-style: none;
  }



  /*동물 영역*/
  .grid_animal{
    background-color:rgb(223, 238, 245);
    border-style:none;
  }

  .grid_animal .gallery{
    position: relative;
    top:10%;
    height: 80%;
    margin-left: 3%;
  } 


  /*컴퓨터 하드웨어 영역*/
  .grid_hardware{
    background-color:rgb(206, 216, 225);
    border-style:none;
  }

  .grid_hardware .gallery{
    position: relative;
    top:12%;
    margin-left: 3.3%;
  } 


  /*자동차영역*/
  .grid_automobile{
    background-color:rgb(186, 200, 215);
    border-style:none;
  }

  .grid_automobile .gallery{
    position: relative;
    top:10%;
    margin-left: 4%;
  } 

  
  /*컴퓨터 지식 영역*/
  .grid_Cs{
    background-color:rgb(173, 185, 206);
    border-style:none;
  }

  .grid_Cs .gallery{
    position: relative;
    top:10%;
    margin-left: 4%;
  } 



  /*sticky*/

  .sticky{
    position: sticky;
    top: 0;
  }